@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: 'Avenir Next lt';
  src: url('font/avenir-next/avenirnextltpro-bold-webfont.woff2') format('woff2'),
    url('font/avenir-next/avenirnextltpro-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next lt';
  src: url('font/avenir-next/avenirnextltpro-regular-webfont.woff2') format('woff2'),
    url('font/avenir-next/avenirnextltpro-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF Compact Text';
  src: url('font/SF-compact-Text/fontsfree-net-sfcompacttext-regular-webfont.woff2') format('woff2'),
    url('font/SF-compact-Text/fontsfree-net-sfcompacttext-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import 'tailwindcss';

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@theme {
  /* text & background */
  --color-primary: #213f7d;
  --color-secondary: #54557d;
  --color-accent: #39cdcc;

  /* badge */
  --color-users: #df18ff;
  --color-activeUsers: #5718ff;
  --color-savings: #ff3366;
  --color-loans: #f55f44;

  /* label */
  --color-pending: #e9b200;
  --color-active: #39cd62;
  --color-inactive: #545f7d;
  --color-blacklist: #e4033b;

  /* font */
  --default-font-family: 'Work Sans', sans-serif;
  --font-login: 'Avenir Next lt', sans-serif;
  --font-user_details_tab: 'SF Compact Text', sans-serif;
}

:root {
  @apply text-[62.5%] box-border m-0 p-0;
}

body {
  @apply h-screen text-[1.2rem] lg:text-[1.6rem] font-normal leading-[1.5] text-primary bg-white;
}

.active {
  @apply border-l-accent bg-accent/30 text-secondary opacity-100;
}
