@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: 'Avenir Next lt';
  src: url('font/avenir-next/avenirnextltpro-bold-webfont.woff2') format('woff2'),
    url('font/avenir-next/avenirnextltpro-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next lt';
  src: url('font/avenir-next/avenirnextltpro-regular-webfont.woff2') format('woff2'),
    url('font/avenir-next/avenirnextltpro-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF Compact Text';
  src: url('font/SF-compact-Text/fontsfree-net-sfcompacttext-regular-webfont.woff2') format('woff2'),
    url('font/SF-compact-Text/fontsfree-net-sfcompacttext-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import 'tailwindcss';

@theme {
  --color-primaryText: #213f7d;
  --color-secondaryText: #54557d;

  --color-primaryBg: #ffffff;
  --color-secondaryBg: #39cdcc;

  --color-users: #df18ff;
  --color-activeUsers: #5718ff;
  --color-savings: #ff3366;
  --color-loans: #f55f44;

  --color-pending: #e9b200;
  --color-active: #39cd62;
  --color-inactive: #545f7d;
  --color-blacklist: #e4033b;

  --default-font-family: 'Work Sans', sans-serif;
  --font-login: 'Avenir Next lt', sans-serif;
  --font-user_details_tab: 'SF Compact Text', sans-serif;
}

:root {
  @apply text-[62.5%] box-border m-0 p-0;
}

body {
  @apply text-[1.6rem] font-normal leading-[1.5] text-primaryText bg-primaryBg;
}

.active {
  @apply border-l-secondaryBg bg-secondaryBg/30 text-secondaryText opacity-100;
}
